@import "util";
#circle-image-card {
    padding: 20px 10px;
    .card-image {
        position: relative;
        z-index: 1;
        padding-bottom: 20px;
        text-align: center;
        &::after {
            content: "";
            position: absolute;
            width: 50px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            height: 3px;
            background: rgb(102, 102, 102);
            bottom: 5px;
        }
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            margin: auto;
            border: 5px solid white;
        }
    }

    .text {
        text-align: center;
        margin-top: 10px;
        .title {
            font-size: 18px;
        }
        .desc {
            color: $brand-color;
        }
    }
}

/* faq card css here */
#faq-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    &.active{
        background:rgb(255, 237, 253);
        border:1px solid;
        border-color: lightgray lightgray transparent lightgray;
        .faq-label{
            a{
                color:$brand-color !important;
            }
            .icon{
                color:$brand-color;
            }
        }
    }

    .faq-label{
        position: relative;
        z-index: 1;
        .icon{
            position: absolute;
            top:7px;
            right:10px;
            font-size:20px;

        }

        a{
            width:100%;
            padding:10px 20px;
            display: inline-block;
            text-align:left;
            text-decoration: none;
            color:rgb(48, 48, 48);
        }
    }

}
