.theme-btn {
  background: #FC3288 !important;
  border: none;
  padding: 10px 20px;
}

.theme-text {
  color: #FC3288;
}

html, body {
  overflow-x: hidden;
}

.theme-gd-btn {
  background: linear-gradient(93.58deg, #FC3288 0%, #843795 100%);
}

.theme-seconday.btn {
  background: #843795;
}

.theme-seconday.text {
  color: #843795;
}

.container {
  max-width: 1024px !important;
}

.services-card .card {
  border: none;
}

.services-card .card .card-img-top {
  width: 100%;
  height: 200px;
  -o-object-fit: fill;
     object-fit: fill;
}

.services-card .card .card-title {
  font-weight: 400;
  font-size: 22px;
}

.services-card .card .card-text {
  font-size: 12px;
  color: dimgray;
}

.theme-btn {
  background: #FC3288 !important;
  border: none;
  padding: 10px 20px;
}

.theme-text {
  color: #FC3288;
}

html, body {
  overflow-x: hidden;
}

.theme-gd-btn {
  background: linear-gradient(93.58deg, #FC3288 0%, #843795 100%);
}

.theme-seconday.btn {
  background: #843795;
}

.theme-seconday.text {
  color: #843795;
}

.container {
  max-width: 1024px !important;
}

.services-card .card {
  border: none;
}

.services-card .card .card-img-top {
  width: 100%;
  height: 200px;
  -o-object-fit: fill;
     object-fit: fill;
}

.services-card .card .card-title {
  font-weight: 400;
  font-size: 22px;
}

.services-card .card .card-text {
  font-size: 12px;
  color: dimgray;
}

#circle-image-card {
  padding: 20px 10px;
}

#circle-image-card .card-image {
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  text-align: center;
}

#circle-image-card .card-image::after {
  content: "";
  position: absolute;
  width: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 3px;
  background: #666666;
  bottom: 5px;
}

#circle-image-card .card-image img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: auto;
  border: 5px solid white;
}

#circle-image-card .text {
  text-align: center;
  margin-top: 10px;
}

#circle-image-card .text .title {
  font-size: 18px;
}

#circle-image-card .text .desc {
  color: #FC3288;
}

.hnazmul-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0px 2px 2px 2px #3b3b3b13, 0px 7px 10px -10px rgba(0, 0, 0, 0.336);
          box-shadow: 0px 2px 2px 2px #3b3b3b13, 0px 7px 10px -10px rgba(0, 0, 0, 0.336);
  position: fixed;
  background: white;
  z-index: 1000;
}

.hnazmul-navbar .hnazmul-navbar-container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-nav-brand {
  padding-right: 20px;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-nav-toggle-btn {
  display: none;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-nav-toggle-btn button {
  border: none;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-nav-toggle-btn img.toggler-btn {
  width: 20px;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px !important;
  width: 100%;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list li.navbar-list-item {
  list-style: none;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list li.navbar-list-item .navbar-list-link {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list li.navbar-list-item .navbar-list-link.active {
  background: red;
  color: white;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper button.navbar-closer-icon {
  border: none;
  background: none;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper button.navbar-closer-icon.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper button.navbar-closer-icon img.navbar-closer {
  width: 30px;
}

@media screen and (max-width: 920px) {
  .hnazmul-navbar .hnazmul-navbar-container {
    max-width: 650px;
  }
}

@media screen and (max-width: 920px) and (max-width: 650px) {
  .hnazmul-navbar .hnazmul-navbar-container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 920px) {
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-nav-toggle-btn {
    display: block;
    margin-left: auto;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content {
    display: block;
    position: fixed;
    z-index: 500;
    height: 100%;
    width: 100%;
    background: rgba(33, 35, 36, 0.479);
    top: 0px;
    left: -120%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-clip-path: circle(0.2% at 0 0);
            clip-path: circle(0.2% at 0 0);
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content.navbar-show {
    left: 0px;
    -webkit-clip-path: circle(141.4% at 0 0);
            clip-path: circle(141.4% at 0 0);
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list {
    display: block;
    background: #d3e2d6;
    width: 80%;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list li.navbar-list-item {
    text-align: center;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper button.navbar-closer-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    display: block;
    background: white;
    border-radius: 50%;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper button.navbar-closer-icon:hover {
    background: #ff0055;
  }
}

.hnazmul-navbar-spacer {
  padding: 27px;
}

.home-page-header {
  width: 100%;
  padding: 70px 0px;
  background: rgba(0, 0, 0, 0.281) url(../images/home.svg) no-repeat center;
  background-blend-mode: soft-light;
  background-size: cover;
  color: white;
}

.home-page-header .slick-slide {
  padding: 20px;
}

.home-page-header .title {
  font-size: 50px;
  font-weight: 900;
}

.home-page-header .under-title {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .home-page-header .under-title {
    width: 100%;
  }
}

.home-page-header .slick-arrow.slick-prev {
  left: -60px;
}

.home-page-header .slick-arrow::before {
  font-size: 50px;
  background: transparent;
  color: rgba(0, 0, 0, 0.349);
}

.pilates-card {
  background: url(../images/F0WzpR-GJl8.png) no-repeat center;
  background-color: rgba(0, 0, 0, 0.534);
  background-blend-mode: soft-light;
  background-size: cover;
  height: 400px;
  max-width: 350px;
  color: white;
  margin: auto;
  position: relative;
  -webkit-box-shadow: 0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1), 0px 24px 80px rgba(17, 17, 26, 0.1);
          box-shadow: 0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1), 0px 24px 80px rgba(17, 17, 26, 0.1);
}

.pilates-card .event {
  color: #ae4dc4;
}

.pilates-card .bottom-bar {
  position: absolute;
  bottom: 0px;
  background: #363636;
  text-align: right;
  width: 100%;
  left: 0px;
  padding: 5px;
}

.pilates-card .bottom-bar input[type="checkbox"] {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: 2px 10px;
}

#mirror {
  padding: 3rem 0px;
}

#mirror .title {
  max-width: 400px;
  margin: auto;
}

#mirror .title h1 {
  font-size: 30px;
  font-weight: 900;
}

#mirror .title p {
  font-size: 15px;
  color: dimgray;
}

#mirror .slick-arrow::before {
  font-size: 30px;
  background: transparent;
  color: black;
}

#mirror #image-card img {
  width: 100% !important;
}

#fitness {
  padding: 2rem;
}

#fitness div.title {
  max-width: 430px;
  margin: auto;
  text-align: center;
  padding: 2rem;
}

#fitness div.title h1 {
  font-size: 30px;
}

#fitness #image-card {
  padding: 20px;
  text-align: center;
}

#fitness #image-card img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

#fitness .bottom-text {
  max-width: 700px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

#Skills {
  background-color: #393637;
  padding: 2rem;
  color: white;
}

#Skills > .title {
  margin: auto;
  max-width: 500px;
  padding: 2rem;
}

#Skills > .title h1 {
  font-size: 30px;
}

#Skills #circle-image-card {
  color: white;
}
/*# sourceMappingURL=style.css.map */