@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: 'Noto Sans KR', sans-serif !important;
}

.theme-btn {
  background: #fc3288 !important;
  border: none;
  padding: 10px 20px;
}

.theme-text {
  color: #fc3288;
}

.font-default, #mirror .title h1, #fitness div.title {
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.theme-gd-btn {
  background: linear-gradient(93.58deg, #fc3288 0%, #843795 100%);
}

.theme-seconday.btn {
  background: #843795;
}

.theme-seconday.text {
  color: #843795;
}

.container {
  max-width: 1024px !important;
}

.services-card .card {
  border: none;
}

.services-card .card .card-img-top {
  width: 100%;
  height: 200px;
  -o-object-fit: fill;
     object-fit: fill;
}

.services-card .card .card-title {
  font-weight: 400;
  font-size: 22px;
}

.services-card .card .card-text {
  font-size: 12px;
  color: dimgray;
}

/* slider custom arrow */
.slick-arrow.slick-prev::before {
  content: "";
  display: inline-block;
  width: 51px;
  height: 42px;
  vertical-align: -0.125em;
  background: url("https://api.iconify.design/grommet-icons/previous.svg?color=%23d1d1d1") no-repeat center center/contain;
}

.slick-arrow.slick-next::before {
  content: "";
  display: inline-block;
  width: 51px;
  height: 42px;
  vertical-align: -0.125em;
  background: url("https://api.iconify.design/grommet-icons/next.svg?color=%23d1d1d1") no-repeat center center/contain;
}

/* palitates card section start from here */
.pilates-card {
  background: url(../images/F0WzpR-GJl8.png) no-repeat center;
  background-color: rgba(0, 0, 0, 0.534);
  background-blend-mode: soft-light;
  background-size: cover;
  height: 400px;
  width: 350px;
  color: white;
  margin: auto;
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1), 0px 24px 80px rgba(17, 17, 26, 0.1);
          box-shadow: 0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1), 0px 24px 80px rgba(17, 17, 26, 0.1);
}

@media screen and (max-width: 992px) {
  .pilates-card {
    left: 50%;
  }
}

.pilates-card .card-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.pilates-card .card-wrapper .event {
  color: #ae4dc4;
}

.pilates-card .card-wrapper .bottom-bar {
  position: absolute;
  bottom: 0px;
  background: #363636;
  text-align: right;
  width: 100%;
  left: 0px;
  padding: 5px;
}

.pilates-card .card-wrapper .bottom-bar input[type="checkbox"] {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: 2px 10px;
}

.pilates-card .card-wrapper .times-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
}

* {
  font-family: 'Noto Sans KR', sans-serif !important;
}

.theme-btn {
  background: #fc3288 !important;
  border: none;
  padding: 10px 20px;
}

.theme-text {
  color: #fc3288;
}

.font-default, #mirror .title h1, #fitness div.title {
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.theme-gd-btn {
  background: linear-gradient(93.58deg, #fc3288 0%, #843795 100%);
}

.theme-seconday.btn {
  background: #843795;
}

.theme-seconday.text {
  color: #843795;
}

.container {
  max-width: 1024px !important;
}

.services-card .card {
  border: none;
}

.services-card .card .card-img-top {
  width: 100%;
  height: 200px;
  -o-object-fit: fill;
     object-fit: fill;
}

.services-card .card .card-title {
  font-weight: 400;
  font-size: 22px;
}

.services-card .card .card-text {
  font-size: 12px;
  color: dimgray;
}

/* slider custom arrow */
.slick-arrow.slick-prev::before {
  content: "";
  display: inline-block;
  width: 51px;
  height: 42px;
  vertical-align: -0.125em;
  background: url("https://api.iconify.design/grommet-icons/previous.svg?color=%23d1d1d1") no-repeat center center/contain;
}

.slick-arrow.slick-next::before {
  content: "";
  display: inline-block;
  width: 51px;
  height: 42px;
  vertical-align: -0.125em;
  background: url("https://api.iconify.design/grommet-icons/next.svg?color=%23d1d1d1") no-repeat center center/contain;
}

/* palitates card section start from here */
.pilates-card {
  background: url(../images/F0WzpR-GJl8.png) no-repeat center;
  background-color: rgba(0, 0, 0, 0.534);
  background-blend-mode: soft-light;
  background-size: cover;
  height: 400px;
  width: 350px;
  color: white;
  margin: auto;
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1), 0px 24px 80px rgba(17, 17, 26, 0.1);
          box-shadow: 0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1), 0px 24px 80px rgba(17, 17, 26, 0.1);
}

@media screen and (max-width: 992px) {
  .pilates-card {
    left: 50%;
  }
}

.pilates-card .card-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.pilates-card .card-wrapper .event {
  color: #ae4dc4;
}

.pilates-card .card-wrapper .bottom-bar {
  position: absolute;
  bottom: 0px;
  background: #363636;
  text-align: right;
  width: 100%;
  left: 0px;
  padding: 5px;
}

.pilates-card .card-wrapper .bottom-bar input[type="checkbox"] {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: 2px 10px;
}

.pilates-card .card-wrapper .times-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
}

#circle-image-card {
  padding: 20px 10px;
}

#circle-image-card .card-image {
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  text-align: center;
}

#circle-image-card .card-image::after {
  content: "";
  position: absolute;
  width: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 3px;
  background: #666666;
  bottom: 5px;
}

#circle-image-card .card-image img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: auto;
  border: 5px solid white;
}

#circle-image-card .text {
  text-align: center;
  margin-top: 10px;
}

#circle-image-card .text .title {
  font-size: 18px;
}

#circle-image-card .text .desc {
  color: #fc3288;
}

/* faq card css here */
#faq-card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#faq-card.active {
  border-top: 1px solid black;
}

#faq-card.active .faq-label a {
  color: #fc3288 !important;
}

#faq-card.active .faq-label .icon {
  color: #fc3288;
}

#faq-card .faq-label {
  position: relative;
  z-index: 1;
}

#faq-card .faq-label .bullet-point-icon {
  font-size: 9px;
  margin-right: 10px;
  margin-bottom: 2px;
}

#faq-card .faq-label .icon {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 20px;
}

#faq-card .faq-label a {
  width: 100%;
  padding: 10px 20px;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  color: #303030;
}

#faq-card .answer {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding-left: 3rem !important;
}

.hnazmul-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0px 2px 2px 2px #3b3b3b13, 0px 7px 10px -10px rgba(0, 0, 0, 0.336);
          box-shadow: 0px 2px 2px 2px #3b3b3b13, 0px 7px 10px -10px rgba(0, 0, 0, 0.336);
  position: fixed;
  background: #10151B;
  color: white;
  z-index: 1000;
}

.hnazmul-navbar .hnazmul-navbar-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-nav-brand {
  padding-right: 20px;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-nav-toggle-btn {
  display: none;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-nav-toggle-btn button {
  border: none;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-nav-toggle-btn img.toggler-btn {
  width: 20px;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px !important;
  width: 100%;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list li.navbar-list-item {
  list-style: none;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list li.navbar-list-item .navbar-list-link {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list li.navbar-list-item .navbar-list-link.active {
  background: #FC3288;
  color: white;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper button.navbar-closer-icon {
  border: none;
  background: none;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper button.navbar-closer-icon.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper button.navbar-closer-icon img.navbar-closer {
  width: 30px;
}

@media screen and (max-width: 920px) {
  .hnazmul-navbar .hnazmul-navbar-container {
    max-width: 650px;
  }
}

@media screen and (max-width: 920px) and (max-width: 650px) {
  .hnazmul-navbar .hnazmul-navbar-container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 920px) {
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-nav-toggle-btn {
    display: block;
    margin-left: auto;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-nav-toggle-btn button {
    background: transparent;
    color: lightgray;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content {
    display: block;
    position: fixed;
    z-index: 500;
    height: 100%;
    width: 100%;
    background: rgba(33, 35, 36, 0.479);
    top: 0px;
    left: -120%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-clip-path: circle(0.2% at 0 0);
            clip-path: circle(0.2% at 0 0);
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content.navbar-show {
    left: 0px;
    -webkit-clip-path: circle(141.4% at 0 0);
            clip-path: circle(141.4% at 0 0);
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list {
    display: block;
    background: #e2d3e1;
    width: 80%;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list li.navbar-list-item {
    text-align: center;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper ul.navbar-list li.navbar-list-item .navbar-list-link {
    color: #555555;
    width: 100%;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper button.navbar-closer-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    display: block;
    background: white;
    border-radius: 50%;
  }
  .hnazmul-navbar .hnazmul-navbar-container .hnazmul-navbar-content .hnazmul-navbar-content-wrapper button.navbar-closer-icon:hover {
    background: #ff0055;
  }
}

.hnazmul-navbar-spacer {
  padding: 27px;
}

/* home page header */
#homepage-header #header {
  height: 100vh;
  background: rgba(0, 0, 0, 0.39) url(../images/home.svg) no-repeat center;
  background-size: cover;
  background-blend-mode: soft-light;
  padding: 2rem;
}

#homepage-header #header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: white;
}

#homepage-header #header > .container .content h1 {
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 60px;
}

#homepage-header .slick-arrow.slick-prev {
  left: 4.5%;
  z-index: 1;
}

#homepage-header .slick-arrow.slick-next {
  right: 4.5%;
  z-index: 1;
}

@media screen and (max-width: 1025px) {
  #homepage-header .slick-arrow.slick-prev {
    left: -1%;
  }
  #homepage-header .slick-arrow.slick-next {
    right: 6%;
  }
}

/* mirror section start from here */
#mirror {
  padding: 3rem 0px;
}

#mirror .title {
  max-width: 400px;
  margin: auto;
  padding: 2rem 0px;
}

#mirror .title h1 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

#mirror .title p {
  font-size: 15px;
  color: #5f5f5f;
  font-weight: bolder;
}

#mirror .slick-arrow::before {
  font-size: 30px;
  background: transparent;
  color: black;
}

#mirror #image-card img {
  width: 100% !important;
}

/* fitness section start form her */
#fitness {
  padding: 2rem;
}

#fitness div.title {
  max-width: 430px;
  margin: auto;
  text-align: center;
  padding: 2rem;
}

#fitness div.title h1 {
  font-size: 30px;
  font-weight: 700;
}

#fitness #image-card {
  padding: 20px;
  text-align: center;
}

#fitness #image-card img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

#fitness .bottom-text {
  max-width: 700px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

#fitness .slick-arrow {
  z-index: 5;
}

#fitness .slick-arrow.slick-prev {
  left: -25px;
}

#fitness .slick-arrow.slick-prev::before {
  background: url("https://api.iconify.design/grommet-icons/previous.svg?color=black") no-repeat center center/contain;
}

#fitness .slick-arrow.slick-next {
  right: -25px;
}

#fitness .slick-arrow.slick-next::before {
  background: url("https://api.iconify.design/grommet-icons/next.svg?color=black") no-repeat center center/contain;
}

@media screen and (max-width: 768px) {
  #fitness .slick-arrow.slick-next {
    right: 0%;
  }
}

/* skills section start from here */
#Skills {
  background-color: #393637;
  padding: 2rem;
  color: white;
}

#Skills > .title {
  margin: auto;
  max-width: 500px;
  padding: 2rem;
}

#Skills > .title h1 {
  font-size: 30px;
}

#Skills #circle-image-card {
  color: white;
}

#Skills .slick-arrow {
  z-index: 5;
}

#Skills .slick-arrow.slick-prev {
  left: -90px;
  top: 117px;
}

#Skills .slick-arrow.slick-prev::before {
  background: url("https://api.iconify.design/grommet-icons/previous.svg?color=dimgrey") no-repeat center center/contain;
}

#Skills .slick-arrow.slick-next {
  right: -65px;
  top: 117px;
}

#Skills .slick-arrow.slick-next::before {
  background: url("https://api.iconify.design/grommet-icons/next.svg?color=dimgrey") no-repeat center center/contain;
}

@media screen and (max-width: 1210px) {
  #Skills .slick-arrow.slick-next {
    right: -10px;
  }
  #Skills .slick-arrow.slick-prev {
    left: -30px;
  }
}

/* contents section here */
#contents {
  padding: 3rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 800px) {
  #contents {
    padding: 1rem 1rem 5rem 1rem;
  }
}

#contents .title {
  padding: 2rem;
}

#contents .content-card .content-card-img img {
  width: 100%;
}

#contents .content-card div.content-card-desc {
  text-align: center;
  padding: 5px;
}

#contents .content-card div.content-card-desc h4 {
  font-size: 20px;
}

#contents .content-card div.content-card-desc p {
  font-size: 14px;
}

#contents .slick-arrow {
  z-index: 5;
}

#contents .slick-arrow.slick-prev {
  left: -83px;
  top: 32.3%;
}

#contents .slick-arrow.slick-prev::before {
  background: url("https://api.iconify.design/grommet-icons/previous.svg?color=black") no-repeat center center/contain;
}

#contents .slick-arrow.slick-next {
  right: -40px;
  top: 32.3%;
}

#contents .slick-arrow.slick-next::before {
  background: url("https://api.iconify.design/grommet-icons/next.svg?color=black") no-repeat center center/contain;
}

@media screen and (max-width: 998px) {
  #contents .slick-arrow.slick-prev {
    left: -9%;
  }
  #contents .slick-arrow.slick-next {
    right: -2%;
  }
}

/* practice images */
#practice-image {
  padding: 20vw 2rem;
  background: url(../images/pracice-image.png) no-repeat center;
  background-size: cover;
}

/* faq under brand color bar */
#under-faq {
  padding: 2rem;
  background: #fc3288;
}

footer#footer {
  background: #191a1e;
  padding: 4rem;
}

footer#footer .title {
  color: white;
  margin-bottom: 40px;
}

footer#footer > .container .footer-content {
  max-width: 400px;
  margin: auto;
}

/* footer gellery css here */
#footer-gellery .images-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

/* info data -table css here */
#info-data-table {
  padding: 3rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  #info-data-table {
    padding: 1rem 1rem 5rem 1rem;
  }
}

#info-data-table .title {
  padding: 2rem;
  margin-bottom: 1rem;
  border-bottom: 4px solid #5a5a5a;
}

#info-data-table > .container > .table-container > .col-md-6 > .row {
  padding: 20px;
}

#info-data-table > .container > .table-container > .col-md-6 > .row > div {
  font-weight: 400;
  color: #313131;
}
/*# sourceMappingURL=style.css.map */